<h3>Here are all the tasks in @Model["category"].GetName():</h3>
<ol>
  @foreach (var task in @Model["tasks"])
  {
    <li>@task.GetDescription()</li>
  }
</ol>
<p><a href='/categories/@Model["category"].GetId()/tasks/new'>Add a new task</a></p>
<p><a href='/'>Return to Main Page</a></p>
<form class="" action='/categories/@Model["category"].GetId()' method="post">
  <button type="submit" name="button">Click here to remove all tasks</button>
</form>
